# Dependencies
node_modules/
jspm_packages/

# Build output
dist/
.next
.out
.nuxt
.output
.cache
.parcel-cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.example

# IDE settings
.vscode/

# Vite local cache
.vite/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.stylelintcache

# Optional REPL history
.node_repl_history

# Output of npm pack
*.tgz

# Yarn Integrity file
.yarn-integrity
